#webgl {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
}
#app {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: 100dvh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

