/* Global CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* touch-action: manipulation;  */
  -webkit-tap-highlight-color: transparent;
  /* 移除点击闪白 */
}

/* html {
  font-size: 4px;
} */


html,
body {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-y: auto; */
  overflow: hidden;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
  /* 禁用下拉刷新等回弹效果，保持平滑 */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Anchor tag reset */
a {
  text-decoration: none;
  color: inherit;
}